<!DOCTYPE HTML>
<html>
	<head>
		<title> Sign Up</title>
	</head>
	
	<body>
		<section class="header">
		</section>
		</div>
		<div class="formWrapper">
		
		<div class="advancedSearchLabel">Create your account here!</div>

		{% block content %}
		<form action="/accounts/register" method="post">{% csrf_token %}
			<table>
				<tr>
					<td width="200" height="50" class="advancedSearch">
						<label class="formLabel"></label> 
						<p class="formTextField" id="tags">{{ form.as_p }}</p> <!-- This is the username that a user is creating. -->
					</td>
				</tr>
				<tr>
					<td  class="advancedSearch">
						<input type="submit" value="Create my account!"/>
					</td>
				</tr>
			</table>
		</div>
		</form>

		{% endblock %}
	</body> 
