<html>

<head>

<title>Programmer's Examples Notebook</title>

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/reset.css" %}" type="text/css" media="screen"/>
<link rel="stylesheet" href="{% static "css/additional.css" %}" type="text/css" media="screen"/>

</head>	

<body bgcolor=#424747>
<div id = "" width = "1000">
<div id="headeraaa">
{% block header %}

<!-- Header Section -->
<!-- Logo and User Profile Button -->
	<div id="topContainer">
		<div class="centerContainer">
			<!-- Logo -->
			<div id="logo">
				<ul>
					<li>
						<a href="/" title="Programmer's Example Notebook" class="logo fl image">
							<img src="{% static "img/pen-logo-base.png" %}" alt="PEN Logo"/>
							<img src="{% static "img/pen-logo-hover.png" %}" alt="PEN Logo"/></a>
					</li>
				</ul>
			</div>
		</div> <!-- end centerContainer -->
	</div> <!-- end topContainer -->
{% endblock%}

<!-- Box for the form -->
<div id="" style="top: 130px; height:900px; width: 100%; float:left" >
<!--
<div id="" style="height:900px; float:left; top:130px;" >
-->
<section>
{% block form %}
{% endblock%}
</section>
</div>
</div>
</body>
</html>