<!DOCTYPE HTML>
<html>
<head>
	{% load staticfiles %}
	<title>Welcome to Clozoom</title>
</head>

<body>
<form id="login_form" method="post" action="{% url django.contrib.auth.views.login %}" class="box login">


	 <td style="color:#CCCCCC"><b>{{ form.username.label_tag }}</b></td>
		<td>{{ form.username }}</td>
	 <td style="color:#CCCCCC"><b>{{ form.password.label_tag }}</b></td>
		<td>{{ form.password }}</td>
		{% if form.errors %}
			<p class="errorlist">*Your username or password did not match.</p>
		{% endif %}
		{% csrf_token %}

		
	<footer>
	  	<a href="/accounts/register"><font size="4">Register Now</font></a>
	  	<input type="submit" value="Log In" tabindex="4">
	</footer>

</form>


</body>
</html>
